.footer__item {
  margin-bottom: 32px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .footer__item {
    margin-bottom: 0;
    margin-right: 18px;
  }

  .footer__item:last-child {
    margin-right: 0;
  }
}